/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     display: block;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  margin: auto;
  background-color: #033048;
}

#container header {
  font-weight: 600;
  float: left;
  padding: 20px;
  color: white;
  font-family: 'Bitter', serif;
  font-weight: 800;
  font-size: 24px;
}
#container:after {
  content: "";
  display: block;
  clear: both;
}

nav {
  float: right;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
}

#container li {
  display: inline;
  padding: 10px;
}

#container a {
  color: #f9e42e;
  text-decoration: none;
}

.main {
  column-count: 2;
  column-gap: 20px;
  background-color: rgba(232,232,232,0.5);
}

.articles {
  /*width: 700px;*/
  margin: 10px;
  text-align: center;
  column-rule-width: 700px;
  break-after: left;
  page-break-inside: avoid;
  font-weight: 100;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 600;
}

.articles h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  padding: 0px 0px 10px 0px;
}

.articles a {
  font-weight: 600;
  font-size: 24px;
  left: 75%;
  margin-bottom: 10px;
  text-decoration: none;
  color: #033048;
}

.readmore {
  padding: 20px 0;
  text-align: right;
}

.article p {
  color: #606161;
  text-align: justify;
}

#article1 {
  border-bottom: 1px solid;
  text-align: left;
  margin-bottom: 10px;
  color: #606161;
}

#article2 {
  border-bottom: 1px solid;
  text-align: left;
  color: #606161;
}

.racing {
  width: 100%;
}
.canoes {
  width: 100%;
}
.content {
  text-align: justify;
}

.sidebar {
  /*width: 240px;*/
  column-rule-width: 240px;
  color: #033048;
}

h3 {
  font-size: 34px;
  font-weight: 900;
  color: #033048;
  padding: 30px 10px 10px;
  text-align: left;
}

#sidebar1 li {
  font-size: 24px;
  font-weight: 100;
  color: #033048;
  padding: 10px;
  line-height: 6px;
}

#sidebar2 p {
  font-size: 22px;
  font-weight: 100;
  color: #033048;
  padding: 10px;
  word-wrap: break-word;
  width: 400px;
  text-align: justify;
}

#sidebar2 a {
  font-size: 22px;
  font-weight: 600;
  color: #033048;
  text-decoration: none;
  padding: 10px;
}
#sidebar3 img {
  margin-top: 20px;
}

.bigL {
  font-size: 48px;
  float: left;
  margin-top: -5px;
  margin-bottom: -10px;
  margin-right: 10px;
}

#lastsection {
  background-color: black;
}

#yellowsection {
  background: #f9e42e;
  width: 100%;
}

#yellowsection:after {
  content: "";
  display: block;
  clear: both;
}

#button {
  /*text-align: center;*/
  background-color: #033048; 
  font-family: 'Roboto', sans-serif;
  border-color: #f9e42e;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  position: relative;
  left: 46%;
  padding: 10px;
  margin: 20px;
  font-family: 'Baloo Bhaijaan', sans-serif;
}

footer {
  position: relative;
  left:48%;
}

footer h1 {
  color: #f9e42e;
  padding: 10px 40px;
  font-size: 24px;
  font-family: 'Bitter', serif;
  font-weight: 600;
  left: 50%;
}

footer img {
  padding: 20px;
}

footer p {
  color: white;
  padding: 20px;
  font-family: 'Bitter', serif;
}

a:hover {
  font-size: 30px;
}








/******************************************
/* ADDITIONAL STYLES
/*******************************************/




